body {
    font-family: 'Palanquin Dark', sans-serif;
}

.container {
    /* margin: 20px; */
    margin-top: 30px;
    /* margin-bottom: 0px; */
}

.navbar {
    font-size: 20px;
}

.sticky {
    width: 100%
}
.sticky.fixed {
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    margin-bottom: 200%
}

.card {
    margin-top: 30px;
}

.card-header {
    font-size: 30px;
}

.h3,
h3 {
    font-size: 20px;
}

.img-fluid {
    display: block;
    width: 100%;
    height: 10%;
}

.banlist {
    border-radius: 10px;
    margin-bottom: 2px;
}

.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.banlist-effect {
    background-color: #FF8B53;
}

.banlist-fusion {
    background-color: #a086b7;
}

.banlist-synchro {
    background-color: #cccccc;
}

.banlist-xyz {
    background-color: black;
    color: white;
}

.banlist-link {
    background-color: #009cf7;
}

.banlist-spell {
    background-color: #157555;
}

.banlist-trap {
    background-color: #d86898;
}